<% provide(:title, 'Home') %>
  <div id="landpage-container">
    <%= link_to image_tag("square.png", alt: "logo", title: "logo") %>
      <div class="landpage-content">
       <h2>24-HOUR HELP LINE: 24/7  </h2>
      <h3>(000) 000-0000 </h3>
     </div>
  </div>

<div id="twocols">

  <div class="span3">
   <h3>What is this?</h3>
    <div class="welcome">
      <div class="centraloffice">
        <div class="img-left"><%= link_to image_tag("mobii.png", alt: "logo", title: "latest"), '#' %>
           </div></div>   
This is a <strong>mobile-friendly</strong>, <%= link_to 'open-source', "http://en.wikipedia.org/wiki/Open-source_software" %> demo of a meetings database with search, sort, export and import for Intergroup fellowships of <%= link_to 'AA', 'http://www.aa.org' %> or <%= link_to 'NA', "http://www.na.org" %>.  
      <p></p>
      Have a look at it both in a web browser AND on a smartphone!</strong>       
         <p></p>


    </div>
      </div>
    
  <div class="span4">
    <div class="centraloffice">
      <p></p>  
      There are <strong>two ways</strong> to get this working with your local .org website:  <p></p>  
        <strong>1) Free, open-source code -- UNHOSTED </strong><br />
      
        The code is licensed under <%= link_to 'Apachev2', 'http://www.apache.org/licenses/LICENSE-2.0.html' %> and is available on <%= link_to 'github', 'https://github.com/indie/intergroup' %>, along with a general <%= link_to 'readme', "https://github.com/indie/intergroup/blob/master/readme.txt" %> tutorial for how to get going; intermediate to advanced developers. <p></p>   
      
        <strong>2) Free, open-source code -- HOSTED </strong><br />
      If all the code and technical stuff sounds beyond the reach of your group, do not fret;  we can still get this working!  Hosted apps available.  You will receive a login account to be able to update meeting info.  
      <p></p>
      For the second option, please submit a <%= link_to 'Good Faith', 'http://www.hackeress.com/goodfaith', :target => "_blank" %> payment to get started, and <%= link_to 'send in', 'mailto:lsc@hackeress.com' %> a spreadsheet, CSV or link to the current online meetings listing.  We'll be live within 72 hours.   
          </div>
          </div>


      <div class="span4">
      <h3>Meetings Demo</h3>
      <div class="meetings">
        This demo site showcases meetings in the San Mateo County fellowship of Alcoholics Anonymous, which has over 330 meetings every week.  Remember, this is only a DEMO; in order for the meetings to be updated, an intergroup is responsible for keeping the meetings current via the web-friendly interface.  
         <p></p>
            <%= link_to "Find a Meeting", meetings_path, class: "button" %>

      </div>
    </div>

      
      </div>
  </div>
    

</div>


