<% provide(:title, 'Home') %>
  <div id="landpage-container">
    <%= link_to image_tag("square.png", alt: "logo", title: "logo") %>
      <div class="landpage-content">
       <h2>24-HOUR HELP LINE: 24/7  </h2>
      <h3>(000) 000-0000 </h3>
     
   </div>
 </div>


   <div id="twocols">

    <div class="span4">
      <h3>Welcome</h3>
      <div class="welcome">
        Alcoholics Anonymous is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem and help others to recover from alcoholism. The only requirement for membership is a desire to stop drinking. There are no dues or fees for AA membership; we are self-supporting through our own contributions. AA is not allied with any sect, denomination, politics, organization or institution; does not wish to engage in any controversy; neither endorses nor opposes any causes. Our primary purpose is to stay sober and help other alcoholics to achieve sobriety.
      </div>
    </div>
    
    <div class="span4">
      <h3>Meetings</h3>
      <div class="meetings">
        Our area Intergroup area has nearly ___ meetings every week.  Meetings are searchable by day, time, and city.
         <p></p>
            <%= link_to "Find a Meeting", meetings_path, class: "button" %>
      </div>
    </div>


    <div class="span4">
      <div class="centraloffice"></div>
        <h3>Central Office</h3>

           <div class="img-left"><%= link_to image_tag("latest_greatest.png", alt: "logo", title: "latest"), '#' %>
           </div>   

          <div class="centraloffice"><%= link_to 'Discover', '#' %> the latest happenings in your local fellowship: download flyers and more! <p></p> 
          <%= link_to 'Learn more', '#' %> about your local service office, or <%= link_to 'contact us', '#' %> to get more information about anything on this site.</div>
          </div>
        </div>
      </div>
    </div>


