<% provide(:title, 'Home') %>
  <div id="landpage-container">
    <%= link_to image_tag("square.png", alt: "logo", title: "logo") %>
      <div class="landpage-content">
       <h2>24-HOUR HELP LINE: 24/7  </h2>
      <h3>(000) 000-0000 </h3>
     
   </div>
 </div>


   <div id="twocols">

    <div class="span4">
      <h3>What is this?</h3>
    <div class="welcome">
      This is a <strong>mobile-friendly</strong>, <%= link_to 'open-source', "http://en.wikipedia.org/wiki/Open-source_software" %> demo of a website and meetings database structure with search, sort, export and import for Intergroup fellowships of <%= link_to 'AA', 'http://www.aa.org' %> or <%= link_to 'NA', "http://www.na.org" %>!  The code is licensed under <%= link_to 'Apachev2', 'http://www.apache.org/licenses/LICENSE-2.0.html' %> and is available on <%= link_to 'github', 'https://github.com/indie/intergroup' %>, along with a general <%= link_to 'readme', "https://github.com/indie/intergroup/blob/master/readme.txt" %> tutorial for how to get going; intermediate to advanced developers.
      <p></p>
      Look at it both in a web browser AND on a smartphone!
      
    </div>
      </div>
    
    <div class="span4">
      <h3>Meetings Demo</h3>
      <div class="meetings">
        This demo site showcases meetings in the San Mateo County fellowship of Alcoholics Anonymous, which has over 330 meetings every week.  This is only a DEMO, and in order for the meetings to be updated, an intergroup should adopt the code and keep their meetings current.  
         <p></p>
        Best of all -- Open Source Intergroup Meetings <strong>makes it EASY for people to find meetings in their area.</strong>       
         <p></p>

            <%= link_to "Find a Meeting", meetings_path, class: "button" %>

      </div>
    </div>


    <div class="span4">
      <div class="centraloffice"></div>
        <h3>Intergroup</h3>

           <div class="img-left"><%= link_to image_tag("latest_greatest.png", alt: "logo", title: "latest", width: "80%"), '#' %>
           </div>   

          <div class="centraloffice">Here is where you may put some interesting information pertinent to your local Intergroup.  For example, some fellowships may wish for their members to <%= link_to 'discover', '#' %> the latest happenings in the area, download flyers and more! <p></p> 
          <%= link_to 'Learn more', '#' %> about your local service office, or <%= link_to 'contact us', '#' %> to get more information about anything on this site.</div>
          </div>
        </div>
      </div>
    </div>


